version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    environment:
      - VITE_SUPABASE_URL=https://gntekcmrierumcjbvphw.supabase.co
      - VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdudGVrY21yaWVydW1jamJ2cGh3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIwODA3NzYsImV4cCI6MjA3NzY1Njc3Nn0.gtyyFWyHs1KOogXgZzninOJ5KwtuJCuhhu4zrv0Wb8E
    volumes:
      - ./frontend:/app
    command: ["npm", "run", "dev", "--", "--host"]
    stdin_open: true
    tty: true

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
    command: ["node", "server.js"]
    depends_on:
      - frontend
